The config.txt file is used
for setting up the simulation.
There are a bunch of config
files in the configs directory.
The format is as follows:

--------------------------
NUMITER   GRAV
NUMOBJS
NAME	OFF.x OFF.y OFF.z
NAME	OFF.x OFF.y OFF.z
NAME	OFF.x OFF.y OFF.z
--------------------------

NUMITER is the number of physics
  computation iterations per display
  update.
GRAV is the gravity
NUMOBJS is the number of objects
  in the scene (the floor is not
  counted).
NAME gives the name of each object
OFF gives an offset
